*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(244, 247, 250);
}
.menu-container{
    list-style-type: none;
    line-height: 30px;
    background-color: rgb(17, 7, 78);
    height: 100vh;
}
.menu-container li{
   
    color: white;
    font-size: 15px;
    
}
.menu-container .active li::after{
    content: " ";
    position: absolute;
    right: 0;
	border-top: 10px solid transparent;
	border-right: 22px solid #555;
	border-bottom: 10px solid transparent;
  
   
}
.menu-container li:hover{
    background-color: rgb(117, 106, 5);
   
}
.dash-active{
    background-color: rgb(117, 106, 5);
}
.dash-active::after {
   
    content: " ";
    position: absolute;
    right: 0;
	border-top: 13px solid transparent;
	border-right: 20px solid rgb(255, 255, 255);
	border-bottom: 13px solid transparent;
}
.dash{
    position: fixed;
    margin-left: 17.1%;
}
.render{
  height: 100vh;
  width: 40%;
}
#display{
   
   margin-left: 16%;
}


.infocon{
    
}
.infocon img{
    border-radius: 50%;
}

#rad{
    width: 50px;
    height: 50px;
    display: none;
}
  .dash{
    display:block;
    background-color:  rgb(17, 7, 78);
    padding-left: 2.6rem;
    

    
}
@media screen and (max-width:967px){
    #rad{
        display: block;
        position: absolute;
        right: 0px;
    }
    .dash {
        display:block;
        background-color: rgba(93, 34, 202, 0.4);
        z-index: 99;
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        top: 0px; 
    }
    .menu-container  {
        height: 100%;
        
    }
    
    .menu-container  li{
        display:block;
        text-align: center;
        
    }
    
  
    
}